<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nawalpur Tourism</title>
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726634760/Image_18-09-2024_at_10.29_am-removebg-preview_sppzzb.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- Montserrat Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sacramento&display=swap" rel="stylesheet">
    

</head>
<body>

<!-- Include Navbar Partial -->
    <%- include('partials/navbar') %>

    <!-- Main Content Area -->
    <div class="home-page">
        <div class="hero-image">
            <div class="quote">
                <h4>The Untouched Ground</h4>
            </div>    
            <div class="hero-content">
                <h1 class="hero-content-title">Amaltari</h1>
            </div>

        </div>
    </div>

<section class="container">
        <h2 class="headingfirst">#Make Memories With Us</h2>
    <div class="hero-section">
    <div class="card-grid">
        <a class="card" href="/adventure">
        <div class="card__background" style="background-image: url(https://www.tharucommunitylodge.com/wp-content/uploads/2022/09/Cycling.jpg)"></div>
        <div class="card__content">
            <p class="card__category">Breathtaking</p>
            <h3 class="card__heading">Adventure</h3>
        </div>
        </a>
        <a class="card" href="/nature">
        <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1579863834020-2a9366e128ce?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"></div>
        <div class="card__content">
            <p class="card__category">Peaceful</p>
            <h3 class="card__heading">Nature</h3>
        </div>
        </a>
        <a class="card" href="/culture">
        <div class="card__background" style="background-image: url(https://www.tharucommunitylodge.com/wp-content/uploads/2023/01/dress-like-local.jpg)"></div>
        <div class="card__content">
            <p class="card__category">Rich</p>
            <h3 class="card__heading">Culture</h3>
        </div>
        <a class="card" href="/wellness">
        <div class="card__background" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Shashwat_dham.jpg/2560px-Shashwat_dham.jpg)"></div>
        <div class="card__content">
            <p class="card__category">Mental & Physical</p>
            <h3 class="card__heading">Wellness</h3>
        </div>
        </a>
    <div>
</div>
</section>

<section class="detail">
    <div class="national-park-second">
    <div class="content-second">
        <h2>WHY AMALTARI?</h2>
        <p>Amaltari, located on the edge of Chitwan National Park, is a hidden gem for eco-tourists and nature lovers. Amaltari is a key entry point to Chitwan National Park, located in the northern section of the park. This access point is strategically positioned to facilitate easy entry for visitors looking to explore the park’s wilderness.The entry through Amaltari provides a unique opportunity to explore the less-traveled northern areas of Chitwan, where visitors can experience the park’s tranquil beauty and diverse ecosystems away from the more frequented southern sections. 
    </div>
    <div class="image-second">
        <img src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726555679/1_sbh1ri.jpg"/>
    </div>
    </div>
</section>

<section class="cnp">
    <div class="national-park">
    <div class="content">
        <h2>CHITWAN NATIONAL PARK</h2>
        <p>Chitwan National Park, nestled in the heart of Nepal, is a UNESCO World Heritage Site renowned for its rich biodiversity and thrilling wildlife experiences. Spanning lush jungles and grasslands, the park is home to majestic Bengal tigers, one-horned rhinoceroses, and over 500 species of birds. Whether you're exploring on a jungle safari, canoeing along the Rapti River, or visiting traditional Tharu villages, Chitwan offers an unforgettable adventure that brings you closer to nature. Perfect for wildlife enthusiasts and eco-travelers, it's a must-visit destination for those seeking both serenity and excitement.
    </div>
    <div class="image">
        <img src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726631987/WhatsApp_Image_2024-09-18_at_9.40.27_AM_j9zoud.jpg"/>
    </div>
    </div>
</section><br>


<% if (events.length > 0) { %>
<section class="upcoming-events">
    <h2 class="heading">Upcoming Events</h2>
    <div class="scroll-wrapper">
        <div class="events-container">
            <!-- Example of an event card -->
            <% events.forEach(list => { %>
            <div class="eventcard-container">
                <div class="eventphoto-container">
                    <div class="eventdate">
                        <div class="eventfull-date">
                        <p class="event-remaining-days" data-event-date="<%= list.date %>">Join Us In <span class="days-left">0</span> days</p>
                        </div>
                    </div>
                </div>
                <div class="eventinfo-container">
                    <div class="events-name">
                        <%= list.event %>
                    </div>
                    <div class="events-location">
                        <%= list.venue %>
                    </div>
                    <div class="events-description">
                        <%= list.description %>
                    </div>
                    <div class="events-contact">
                        <a href="tel:+977<%= list.contact %>" class="eventcontact-link">
                            <i class="fas fa-phone"></i> Call Us 
                        </a> 
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <a href="/events" class="read-all">View Upcoming Events..</a>
    </div>
</section>
<% } %>





<section class="places-map">
    <h2 class="headingsecond">#Never Too Late For</h2>
<div class="placestogo">
        <div class="row">
            <!-- Left Half with Cards -->
            <div class="left-half">
                <div class="card-places" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726713522/WhatsApp_Image_2024-09-18_at_11.28.18_AM_mpnqbk.jpg" alt="Card image cap">
                    <div class="card-places-body">
                        <p class="card-text"><a href="/things-to-do/66efc45f9920be473461bc0f">Jungle Safari</a></p>
                    </div>
                </div>
                <div class="card-places" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726721863/WhatsApp_Image_2024-09-18_at_12.21.31_PM-2_bsaiij.jpg" alt="Card image cap">
                    <div class="card-places-body">
                        <p class="card-text">Tharu Community</p>
                    </div>
                </div>
                <div class="card-places" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726631986/WhatsApp_Image_2024-09-18_at_9.37.54_AM_n71giv.jpg" alt="Card image cap">
                    <div class="card-places-body">
                        <p class="card-text">Sunset</p>
                    </div>
                </div>
                <div class="card-places" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726631986/WhatsApp_Image_2024-09-18_at_9.38.51_AM_jqjptj.jpg" alt="Card image cap">
                    <div class="card-places-body">
                        <p class="card-text">Bird Watching</p>
                    </div>
                </div>
                <div class="card-places" style="width: 18rem;">
                    <img class="card-img-top" src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726631987/WhatsApp_Image_2024-09-18_at_9.40.27_AM_j9zoud.jpg" alt="Card image cap">
                    <div class="card-places-body">
                        <p class="card-text">Boating</p>
                    </div>
                </div>
                <div class="card-places" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.tharucommunitylodge.com/wp-content/uploads/2022/09/Cycling.jpg" alt="Card image cap">
                    <div class="card-places-body">
                        <p class="card-text">Cycling</p>
                    </div>
                </div>
            </div>
            <br>

            <!-- Right Half with Image -->
            <div class="right-half">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28295.41498354916!2d84.06369937431643!3d27.56477989999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39945b53ff70b2f1%3A0x3cb640ea2a6fa92f!2sAmaltari!5e0!3m2!1sen!2snp!4v1729489573501!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
        </div>
    </div>
</section>


<section class="info-section">
    <div class="staff-section">
    <div class="staff-card">
        <div class="staff-picture">
        <img src="https://res.cloudinary.com/dgdbgblvb/image/upload/v1726634760/Image_18-09-2024_at_10.29_am-removebg-preview_sppzzb.png">
        </div>
        <br>
        <div class="staff-description">
                <div class="info-title">
            <h4>Nawalpur Tourism Association</h4>
        </div>
        <p>
Nawalpur Tourism Association is a representative organization in the hospitatility industry, representating hotels,resorts and homestay of Nepal. We as a group act as an foundation for the betterment for chitwan national park and tourism sector here in nawalpur.We promote and preserve our grounds in amaltari which is much more peaceful and with its undiscovered grounds. As this is a favorable place for wildlife and we tend to presenreve it according making it comfortable environment for wildlife.
</p>
        </div>
    </div>
    </div>
    </div>
</section> 

<div class="svg-gallery-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#000">
    <path d="M0 0v47.6l5-2c1 0 11 3 12 0 2 3 6-3 6 0 0-4 12 3 12 0 0 3 15-1 17 0 2-2 5-1 6 0 0-2 6 2 6 0s2 4 4 0c5 2 12-3 16 0 2-2 4-3 4 0 0 2 6-1 6 0 1 4 15-2 17 0h7c0 1 3-3 6 0h17c2 2 3 1 6 0h6c1-2 21-1 24 0 2 1 4 2 6 0 0-1 22 4 24 0 0 0 5-3 5 0 2-2 10 2 12 0 2 2 6 1 6 0 2 3 4-2 6 0 1 0 25-2 25 1l10-1c3 1 6 6 7 0 1 5 4-2 6 0 2-2 4 3 5 0h12c6 1 36 2 36 0 0 2 3 0 6 0h6c5-2 7 4 11 0 2 0 15 2 17 0h13c3-4 5 1 7 0h29c0-3 6 0 6 0h5c0 2 16-1 18 0 1 4 9-1 12 0s6-2 6 0c8-2 3 4 13 0h10c3 4 19 1 19 0 2 0 21 1 23-1 1 4 3-1 6 1 1 2 11-1 12-1 3 3 9 0 12 1 3-4 6 1 6 0h6c0-3 5 1 6-1 0 3 2 1 4 1 3 4 10-1 13 0 3-2 6-1 6 0 2 2 2 0 6 0 1-2 6 2 6 0 2 0 4 5 6 0h18c2 3 4 1 6 0l6-1c3 2 12 3 17 1 14 3 18 1 24 0 2-1 3 3 5 0 6 2 10-1 16 0 1 3 6 0 9 0 0-2 3 2 5 0 6-6 8 7 13 0 0-2 5 2 5 0 3 3 10 0 10 0 1 2 5-2 8 0 3-1 8 3 12 0h6c2 1 10 4 12 0h6c1-1 5 2 6 0 1 2 4-1 6 0 0-2 5 3 6-1 2 1 6 5 5 1 1 1 3-2 6 0 2-1 5 3 6 0 0 1 6 2 6 0 2 3 4-4 6 0 0-2 3 2 6 0 3 0 6 3 6 0 5 3 8-1 13 0 3-4 6 1 6 0h5c0-1 9 2 12 0 1-1 9 3 11 0h6c2 2 4 4 7 0 3 2 5-4 5-1 10 4 15-2 18 2 0-1 6 2 6-2 0 0 6-2 6 1 1 6 12 2 12 0 1 3 4-3 7 2 2-2 5 2 5 0 1 5 4-5 6 0 2-1 4 2 6 0 1 3 1 0 5 0V0H0Z"></path></svg>
</div>
<section class="gallery">
    <h2 class="heading">#Gallery</h2>
    <ul>
        <% photos.forEach(photo => { %>
            <li><img src="<%= photo.imageUrl %>" alt="<%= photo.content %>"></li>
        <% }); %>
    </ul>
        <a href="/gallery" class="read-all">View All Photos</a>
</section>
<div class="svg-gallery-bottom">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#000">
    <path d="M0 0v47.6l5-2c1 0 11 3 12 0 2 3 6-3 6 0 0-4 12 3 12 0 0 3 15-1 17 0 2-2 5-1 6 0 0-2 6 2 6 0s2 4 4 0c5 2 12-3 16 0 2-2 4-3 4 0 0 2 6-1 6 0 1 4 15-2 17 0h7c0 1 3-3 6 0h17c2 2 3 1 6 0h6c1-2 21-1 24 0 2 1 4 2 6 0 0-1 22 4 24 0 0 0 5-3 5 0 2-2 10 2 12 0 2 2 6 1 6 0 2 3 4-2 6 0 1 0 25-2 25 1l10-1c3 1 6 6 7 0 1 5 4-2 6 0 2-2 4 3 5 0h12c6 1 36 2 36 0 0 2 3 0 6 0h6c5-2 7 4 11 0 2 0 15 2 17 0h13c3-4 5 1 7 0h29c0-3 6 0 6 0h5c0 2 16-1 18 0 1 4 9-1 12 0s6-2 6 0c8-2 3 4 13 0h10c3 4 19 1 19 0 2 0 21 1 23-1 1 4 3-1 6 1 1 2 11-1 12-1 3 3 9 0 12 1 3-4 6 1 6 0h6c0-3 5 1 6-1 0 3 2 1 4 1 3 4 10-1 13 0 3-2 6-1 6 0 2 2 2 0 6 0 1-2 6 2 6 0 2 0 4 5 6 0h18c2 3 4 1 6 0l6-1c3 2 12 3 17 1 14 3 18 1 24 0 2-1 3 3 5 0 6 2 10-1 16 0 1 3 6 0 9 0 0-2 3 2 5 0 6-6 8 7 13 0 0-2 5 2 5 0 3 3 10 0 10 0 1 2 5-2 8 0 3-1 8 3 12 0h6c2 1 10 4 12 0h6c1-1 5 2 6 0 1 2 4-1 6 0 0-2 5 3 6-1 2 1 6 5 5 1 1 1 3-2 6 0 2-1 5 3 6 0 0 1 6 2 6 0 2 3 4-4 6 0 0-2 3 2 6 0 3 0 6 3 6 0 5 3 8-1 13 0 3-4 6 1 6 0h5c0-1 9 2 12 0 1-1 9 3 11 0h6c2 2 4 4 7 0 3 2 5-4 5-1 10 4 15-2 18 2 0-1 6 2 6-2 0 0 6-2 6 1 1 6 12 2 12 0 1 3 4-3 7 2 2-2 5 2 5 0 1 5 4-5 6 0 2-1 4 2 6 0 1 3 1 0 5 0V0H0Z"></path></svg>
</div>


<section class="blog-section">
    <h2 class="headingthird">#Our Blogs</h2>
    <div class="blog-container">
        <% blogs.forEach(blog => { %>
            <div class="blog-card">
                <img src="<%= blog.imageUrl %>" alt="<%= blog.title %>">
                <div class="blog-content">
                    <p class="date">
                        <%= blog.createdAt ? new Date(blog.createdAt).toLocaleDateString() : 'Date not available' %>
                    </p>
                    <h3><%= blog.title %></h3>
                    <p><%= blog.content %>...</p>
                    <a href="/blogs/<%= blog._id %>" class="read-all">Read More</a>
                </div>
            </div>
        <% }); %>
    </div>
    <a href="/blogs/" class="read-all">Read All Blogs</a>
</section>


<section class="notice">
    <div class="news-updates-section">
        <h2 class="headingthird">#News & Updates</h2>
        <div class="news-container">
            <% notices.forEach(notice => { %>
            <div class="news-item">
                <img src="<%= notice.imageUrl %>" alt="News Image 1">
                <div class="news-info">
                    <p><%= notice.title %></p>
                </div>
            </div>
            <% }); %>
        </div>
        <a href="/notices" class="read-all">Read All Notices</a>
    </div>
</section>

    <!-- Include Footer Partial -->
    <%- include('partials/footer') %>

    <script src="/js/script.js"></script>
</body>
</html>

