<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nawalpur Tourism</title>
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dga2mpvuf/image/upload/v1732512151/Image_18-09-2024_at_10.29_am-removebg-preview_sppzzb_ysn4ly.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/hotel.css">


    <!-- Montserrat Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>

<!-- Include Navbar Partial -->
    <%- include('partials/navbar') %>


    <!-- Main Content Area -->
        <div class="hotel-page">
            <div class="hotel-image">
            <div class="quote">
                <h4>Choose Your Stay</h4>
            </div>  
            </div>
        </div>
        <br><p>

<section class="hotellist">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Visit Website</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <% hotelslist.forEach(list => { %>
            <tr>
                <td>
                    <%= list.name %>
                </td>
                <!-- Website column -->
                <td>
                    <a href="<%= list.website %>" class="website-link">
                        <i class="fas fa-globe"></i> 
                        <span class="website-text"><%= list.website %></span>
                    </a>
                </td>
                <!-- Location column -->
                <td>
                    <a href="<%= list.location %>" class="location-link">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="location-text">View Location</span>
                    </a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</section>



    <!-- Include Footer Partial -->
    <%- include('partials/footer') %>

    <script src="/js/script.js"></script>
</body>
</html>